@charset "UTF-8";
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #1d1d31;
  z-index: 1; }
  .sidebar .dashboard {
    padding: 20px 30px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: block; }
  .sidebar ul {
    list-style: none;
    padding-left: 0; }
    .sidebar ul li {
      padding: 20px 30px;
      font-size: 20px; }
      .sidebar ul li a {
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 20px; }
    .sidebar ul li:hover a {
      color: #00c3ff;
      padding-left: 25px;
      transition: all 0.6s ease-in-out; }

@media only screen and (max-width: 1200px) {
  .sidebar {
    max-width: 130px; }
    .sidebar ul li {
      padding: 15px 5px; }
    .sidebar ul li:hover i {
      text-align: center; } }

@media only screen and (max-width: 992px) {
  .sidebar {
    max-width: 80px; }
    .sidebar ul li {
      padding: 15px 5px; }
      .sidebar ul li span {
        display: none; }
    .sidebar ul li:hover i {
      text-align: center; } }

@media only screen and (max-width: 768px) {
  .sidebar {
    max-width: 80px; }
    .sidebar ul li {
      padding: 15px 5px; }
      .sidebar ul li span {
        display: none; }
    .sidebar ul li:hover i {
      text-align: center; } }

.main-content {
  left: 500px;
  top: 90px; }

@media only screen and (max-width: 992px) {
  .main-content {
    left: 80px; }
    .main-content .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px; } }

@media only screen and (max-width: 600px) {
  .main-content {
    left: 80px; }
    .main-content .wrapper {
      display: grid;
      grid-template-columns: 1fr; } }

* {
  font-family: Arial, Helvetica, sans-serif; }

label {
  font-size: 15px;
  font-weight: 600; }

.table th,
.table td {
  white-space: nowrap;
  /* Ngăn chữ xuống dòng */
  overflow: hidden;
  text-overflow: ellipsis;
  /* Hiển thị dấu ... khi quá dài */ }

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 5%; }

/* Cột STT */
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 15%; }

/* Name */
.table th:nth-child(3),
.table td:nth-child(3) {
  width: 15%; }

/* Category */
.table th:nth-child(4),
.table td:nth-child(4) {
  width: 15%; }

/* Brand */
.table th:nth-child(5),
.table td:nth-child(5) {
  width: 10%; }

/* Stock */
.table th:nth-child(6),
.table td:nth-child(6),
.table th:nth-child(7),
.table td:nth-child(7),
.table th:nth-child(8),
.table td:nth-child(8) {
  width: 10%;
  text-align: center; }

/* New Arrived, Best Seller, Favorite */
.table th:nth-child(9),
.table td:nth-child(9) {
  width: 10%; }

/* Price */
.table th:nth-child(10),
.table td:nth-child(10) {
  width: 15%; }

/* Actions */
.table th,
.table td {
  padding: 8px;
  text-align: center; }
