.breadcrumb-container {
  margin-top: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
}

.breadcrumb {
  /* position: fixed; */
  font-size: 10px;
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  padding: 0 2px;
}

.breadcrumb-link {
  text-decoration: none;
  color: #374151;
}

.breadcrumb-link:hover {
  color: #fb9dab;
}

.breadcrumb-separator {
  margin: 0 5px;
  color: #aaa;
}

.breadcrumb-current {
  color: #fb9dab;
}
