.product-card {
  width: 100%;
  max-width: 300px;
  height: 440px;
  /* border: 1px solid #ddd; */
  padding: 10px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  width: 100%;
  object-fit: cover;
}

.product-title {
  flex-grow: 1;
}

.product-price {
  margin-top: auto;
}

.sale-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fb9dab;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
}

.price {
  display: flex;
  text-align: left;
  gap: 5px;
}

.original-price {
  text-decoration: line-through;
  color: #888;
}

.sale-price {
  color: #fb9dab;
  font-weight: bold;
}

.category {
  display: flex;
  justify-content: left;
  margin-bottom: 5px;
}
