.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.product-image {
  width: 234.6px;
  height: 234.6px;
  object-fit: cover;
}