<div class="sidebar">
    <a href="/" class="dashboard">

        <span>dashboard</span>
    </a>
    <ul>

        <li>
            <a href="/cosmetic">
                <i class='bi bi-pencil-square'></i>
                <span>Cosmetic</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bi bi-person-plus'></i>
                <span>Employees</span>
            </a>
        </li>
        <li>
            <a href="/blog">
                <i class='bi bi-book'></i>
                <span>Blog</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-chart'></i>
                <span>analystic</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-money'></i>
                <span>earning</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-cog'></i>
                <span>setting</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-contact'></i>
                <span>contact</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-help-circle'></i>
                <span>help</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-box-arrow-left"></i>
                <span>Log out</span>
            </a>
        </li>
    </ul>
</div>