.icon-group {
    position: relative;
  }
  
  .icon-inside {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  input.form-control {
    padding-right: 30px;
  }
  