.shop_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.breadcrumb {
  display: flex;
  width: 100%;
}

.shop_content {
  display: flex;
  width: 100%;
  padding: 80px 2rem 0 2rem;
  justify-content: center;
  gap: 10px;
}

.sidebar_box {
  padding: 0;
}

.shop_content .sidebar_box {
  width: 40%;
}

.shop_content .content {
  width: 60%;
}

.sorting_container {
  padding: 0 20px;
}

.active_filters {
  padding: 0 20px;
  font-weight: 300;
}
