.wishlist-content{
    padding: 1.5rem;
    border: 2px solid #ddd; 
    border-radius: 8px;
}

.wishlist-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.wishlist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.wishlist-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}

.wishlist-info {
    flex: 1;
}

.wishlist-remove {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.wishlist-remove:hover{
    color: red;
}